.progress-bar-container {
  width: 100%;
  height: 0.533rem;
  background-color: $white;
  display: flex;
  
  .progress-bar {
    height: 0.533rem;
    background-color: $secondary;
    width: 0%;
  }
}

