 $very-dark-blue: hsl(233, 47%, 7%);
 $dark-desaturated-blue: hsl(244, 38%, 16%);
 $soft-violet: rgb(183, 75, 255);
 $white: hsl(0, 0%, 100%);
 $slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
 $slightly-white-stat-headings: hsla(0, 0%, 100%, 0.6);
