@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

:root {
  
  /* Colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: rgb(183, 75, 255);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  /* Fonts */
  font-size: 15px;
  
  --inter: 'Inter', sans-serif;
  --lexend-deca: 'Lexend Deca', sans-serif;
  
  /* Scroll Behavior */
  scroll-behavior: smooth;
}

/*  defaults  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.4rem;
}

/* Utility Classes */

.hidden {
  display: none;
}

.block {
  display: block;
}

.m-auto {
  margin: auto;
}

/* Technical Test 2 - Jumplinks Component */

aside {
  width: 100%;
  background-color: var(--very-dark-blue);
  z-index: 2;
}

.top-aside {
  position: sticky;
  display: inline-block;
  top: 0;
}

.bottom-aside {
  position: absolute;
  bottom: 0;
}

.aside-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 1rem;
  margin: 0 1.333rem;
  padding: 1.333rem;
}

.show-button {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

.show-button:hover {
  cursor: pointer;
}

.progress-bar-container {
  width: 100%;
  height: 0.533rem;
  background-color: var(--white);
  display: flex;
}

.progress-bar {
  height: 0.533rem;
  background-color: var(--soft-violet);
  width: 0%;
}

nav {
  position: fixed;
  background-color: var(--very-dark-blue);
  width: 100%;
  z-index: 1;
}

.close {
  top: -14.667rem;
  transition: top 0.7s ease;
}

.open {
  top: 4.2rem;
  transition: top 0.7s ease;
}

nav ul {
  margin: 1.333rem;  
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1.333rem 1.333rem;
  width: 33%;
}

nav ul li .nav-link {
  text-decoration: none;
  color:  var(--white);
}

section:nth-child(odd)  {
  display: flex;
  background-color: var(--white);
  color: var(--very-dark-blue);
  min-height: 100vh;
}
section:nth-child(even){
  display: flex;
  background-color: var(--very-dark-blue);
  min-height: 100vh; 
}

.image-after-jumplink {
  position: relative;
}